<%= stylesheet_link_tag "welcome_style_sheet.css" %>


<div class= "top_nav">
<br>
<h1>Contract Builder for Car-Part.com</h1>
<p>
<%= link_to "Contracts", controller: "contracts"%>
<%= link_to 'New Contract', new_contract_path %>
</p>
</div>
<img src="http://i.imgur.com/Zt6y8Mr.jpg"/></a>
